:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--Yellow);
    display: grid;
    place-items: center;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
}

.article {
    width: 384px;
    padding: 24px;
    background: var(--White);
    border: 1px solid var(--Gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px var(--Gray-950);
}

.image {
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 24px;
}

span {
    display: inline-block;
    background: var(--Yellow);
    padding: 6px 12px;
    color: var(--Gray-950);
    font-weight: 800;
    border-radius: 4px;
}

p {
    color: var(--Gray-500);
    font-size: 16px;
}

.date {
    color: var(--Gray-950);
    margin-top: 16px;
    font-weight: 500;
}

h1 {
    font-size: 24px;
    color: var(--Gray-950);
    margin: 20px 0 16px;
    font-weight: 800;
}

.text {
    line-height: 1.5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.text-logo {
    color: var(--Gray-950);
    font-weight: 800;
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

@media (max-width: 375px) {
    .article {
        width: calc(100% - 40px);
        padding: 20px;
    }
}